<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Info</title>
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mars is Neato!</h1>
      <p><a class="btn btn-danger btn-lg" href="/scrape" role="button">Click here to find out some neat stuff about it</a></p>
    </div>
    <div class="col-md-12 space">
      <h3>
        Latest Mars News
      </h3>
      <h4>
        {{ scrape.news_title }}
      </h4>
      <h6>
        {{ scrape.news_paragraph }}
      </h6>
    </div>
      <div class="col-md-12 space">
        <div class='col-md-6 thumbnail'>
          <h3>
            Featured Mars Image
          </h3>
          <img src='{{ scrape.featured_image }}'>
          </div>
        <div id='table' class='col-md-6'>
          <center> {{ scrape.mars_facts_table | safe }} </center>
        </div>
      </div>
    <div>
      <h2 class='text-center'>
        Mars Hemispheres
      </h2>
      {% for hemisphere in scrape.hemisphere_images %}
      <div class='col-md-3'>
          <div class='thumbnail'>
              <img src='{{ hemisphere.img_url }}'>
              <div class='caption'>
                  <h3>
                      {{ hemisphere.title }}
                  </h3>
              </div>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>

</html>